[2018-02-02 13:48] antony-jr opened #2 "Get the new instagram-Py!"
**CC** : @perezpaya  @glerinsonum @ROOTH4CK3R @Drudude

You are invited to this repo because I think this project may help you. Please see that there are many fake clones of **Instagram-Py** but this is the original upstream pypi package repo. Verify it by using git log on other fake clones and the official pypi package [here](https://pypi.python.org/pypi/instagram-py) ( **The Author Should be me*

[2018-02-28 16:04] noammiz007 opened #3 "Connection to host failed - Please help me"
when i start a bruteforce attack so i get an error: fatal error:: Connection to host failed , check your connection and tor configration.

but i set up my configuration correctly like in this video: https://www.youtube.com/watch?v=KZEcFn3Z5L0
please help me.
i install all the stuff in the readme/video
and i know i set up everything correctly but i just get an error.
and i am using a kali linux 201

[2018-02-28 16:56] antony-jr commented on #3
@noammiz007 Try restarting the **Tor Server**.

[2018-02-28 17:03] #2 closed

[2018-02-28 17:29] noammiz007 commented on #3
INSTAGRAM-PY CONFIGURATION:
{"api-url": "https://i.instagram.com/api/v1/", "user-agent": "Instagram 10.26.0 Android (18/4.3; 320dpi; 720x1280; Xiaomi; HM 1SW; armani; qcom; en_US)", "ig-sig-key": "4f8732eb9ba7d1c8e8897a75d6474d4eb3f5279137431b2aafb71fafe2abe178", "ig-sig-version": "4", "tor": {"server": "127.0.0.1", "port": "9050", "protocol": "socks5", "control": {"password": "", "port": "9051"}}

[2018-02-28 17:36] antony-jr commented on #3
@noammiz007 Could you post the output of this site(http://127.0.0.1:9050) from your web browser while your Tor Server is running.

[2018-02-28 17:37] noammiz007 commented on #3
This is a SOCKs proxy, not an HTTP proxy.

It appears you have configured your web browser to use this Tor port as an HTTP proxy.

This is not correct: This port is configured as a SOCKS proxy, not an HTTP proxy. If you need an HTTP proxy tunnel, use the HTTPTunnelPort configuration option in place of, or in addition to, SOCKSPort. Please configure your client accordingly.

See https://www.torproj

[2018-02-28 17:38] antony-jr commented on #3
thats a good sign... Have you tried restarting your tor server.

[2018-02-28 17:39] noammiz007 commented on #3
with service tor stop then start?

[2018-02-28 17:41] antony-jr commented on #3
yes , You can also do ``` sudo service tor restart ```

[2018-02-28 17:42] noammiz007 commented on #3
yes,  and when i do service tor status i get this:
● tor.service - Anonymizing overlay network for TCP (multi-instance-master)
   Loaded: loaded (/lib/systemd/system/tor.service; disabled; vendor preset: disabled)
   Active: active (exited) since Thu 2018-03-01 19:41:17 IST; 5s ago
  Process: 7041 ExecStart=/bin/true (code=exited, status=0/SUCCESS)
 Main PID: 7041 (code=exited, status=0/SUCCESS)

[2018-02-28 17:43] antony-jr commented on #3
Try using the script now

[2018-02-28 17:45] noammiz007 commented on #3
i get this:
Instagram-Py 2.0.2 ,  Slick Instagram brute force command line tool.
Copyright (C) 2018 The Future Shell , Antony Jr..

[+] Started @ 2018-03-01 19:43:40.675122

and after 2 minutes i still get this:
fatal error:: Connection to host failed , check your connection and tor configuration.

[2018-02-28 17:48] antony-jr commented on #3
hmm... That seems strange , Let me try this later and then notify you.. Please stay tuned.

[2018-02-28 17:48] noammiz007 commented on #3
ok thank you and please dont forget. :)

[2018-02-28 17:51] antony-jr commented on #3
@noammiz007 did you see anything like this , ```  [Errno 111] Connection refused ``` along with the error msg ?

[2018-02-28 17:52] noammiz007 commented on #3
hmm no, only this:
Instagram-Py 2.0.2 ,  Slick Instagram brute force command line tool.
Copyright (C) 2018 The Future Shell , Antony Jr..

[+] Started @ 2018-03-01 19:43:26.895943
fatal error:: Connection to host failed , check your connection and tor configuration.

[2018-02-28 18:18] antony-jr commented on #3
@noammiz007 Could please try the new version by upgrading your current installaion using this command.

[code]

You don't have to change the configuration , Just restart your tor server before you start your attack.

[2018-02-28 18:35] noammiz007 commented on #3
ok, now i got a new error:
Instagram-Py 2.0.4 ,  Slick Instagram brute force command line tool.
Copyright (C) 2018 The Future Shell , Antony Jr.

[+] Started @ 2018-03-01 20:32:33.719819
fatal error:: Connection to host failed , check your connection and tor configuration :: SOCKSHTTPConnectionPool(host='httpbin.org', port=80): Max retries exceeded with url: /ip (Caused by NewConnectionError('<url

[2018-02-28 19:22] antony-jr commented on #3
Now I get a clear picture , The next release will fix your issue for sure.

[2018-02-28 19:35] antony-jr commented on #3
@noammiz007 I want you to try this too... ( If you have time )
Set your network proxy as your tor server. In firefox , Go to Preferences-> Network Proxy and select manual proxy configuration , enter the SOCKS Host as 127.0.0.1 and port as 9050 then select the socks5 radio button. **Make sure to tick 'Proxy DNS when using SOCKS v5' Checkbox**. Now you are in the deep web. Now Try to go to https://h

[2018-02-28 19:35] noammiz007 commented on #3
and when do you release a new version?

[2018-02-28 19:35] antony-jr commented on #3
Could you try the above experiment... :+1:

[2018-02-28 19:36] noammiz007 commented on #3
ok, trying it now

[2018-02-28 19:39] noammiz007 commented on #3
this is my settings now as you wanted me to put:
https://i.imgur.com/MpCWwnD.png
but i get this:
https://i.imgur.com/uSOLUn7.png

[2018-02-28 19:41] antony-jr commented on #3
Please remove the HTTP Proxy and then , **Tick  'Proxy DNS when using SOCKS v5' Checkbox** ( its super important. Then click okay and try again.

[2018-02-28 19:45] noammiz007 commented on #3
like this?:

![hm](https://user-images.githubusercontent.com/31467235/36809450-a948fd5c-1cd0-11e8-958d-a761bae75a3a.png)

[2018-02-28 19:46] antony-jr commented on #3
Yes ,Click okay and then go to https://httpbin.org/ip

[2018-02-28 19:48] noammiz007 commented on #3
now any website is not working for me.(loading forever)
including the website you gave me.

[2018-02-28 19:50] antony-jr commented on #3
@noammiz007 So then It means that the error is in your tor server setup , Are you sure you did the tor server setup correctly ? Imagine this loading forever in **instagram-py** ( Thats the 2min delay ) and the end result will always be a connection error. ( Max tries exceeded ).

[2018-02-28 19:51] noammiz007 commented on #3
so how can i fix that?

[2018-02-28 19:54] antony-jr commented on #3
That will be brief , I guess you need to google , I've got an important task to finish. I will get a fix as soon as possible. Thank You for reporting your Issue.

[2018-02-28 19:54] noammiz007 commented on #3
this is the tor folder:
![folder](https://user-images.githubusercontent.com/31467235/36809840-cea3dd96-1cd1-11e8-8f8b-a46923ecc1fc.png)
and this is the tor file(not as a notepad):
[torrc.txt](https://github.com/antony-jr/instagram-py/files/1768612/torrc.txt)

[2018-02-28 19:56] noammiz007 commented on #3
ok thanks anyway

[2018-02-28 19:57] antony-jr commented on #3
Omg , You are missing the torsocks.conf file which is responsible for everything.

[2018-02-28 19:58] noammiz007 commented on #3
so how can i get it

[2018-02-28 19:58] antony-jr commented on #3
@noammiz007 post the output of this command ``` $ sudo service tor status ```

[2018-02-28 19:59] noammiz007 commented on #3
● tor.service - Anonymizing overlay network for TCP (multi-instance-master)
   Loaded: loaded (/lib/systemd/system/tor.service; disabled; vendor preset: disabled)
   Active: active (exited) since Thu 2018-03-01 21:59:07 IST; 4s ago
  Process: 7674 ExecStart=/bin/true (code=exited, status=0/SUCCESS)
 Main PID: 7674 (code=exited, status=0/SUCCESS)

Mar 01 21:59:07 kali systemd[1]: Starting Anonymizi

[2018-02-28 20:00] antony-jr commented on #3
hmm.. I'm sorry , The file has nothing to do with the error  , just post the output of the above command.

[2018-02-28 20:01] antony-jr commented on #3
are you on a live boot ?

[2018-02-28 20:01] noammiz007 commented on #3
no

[2018-02-28 20:01] noammiz007 commented on #3
its an installed on a virtual machine

[2018-02-28 20:06] antony-jr commented on #3
@noammiz007 there are number of errors using tor in a virtual machine , I recommend you to live boot tails , refer : https://superuser.com/questions/580017/using-tor-on-virtualbox , Bye gotta go now!

[2018-02-28 20:07] noammiz007 commented on #3
ok thanks

[2018-02-28 20:53] noammiz007 commented on #3
now i am using a live version and i get this:
fatal error:: tor configuration invalid or server down :: errno 1111 connection refused

[2018-02-28 20:57] antony-jr commented on #3
thats a good sign... Did you have tor installed , follow the video tutorial...

[2018-02-28 20:57] noammiz007 commented on #3
yes i did

[2018-02-28 20:57] noammiz007 commented on #3
i followed the video

[2018-02-28 21:05] noammiz007 commented on #3
Os: kali-linux-2018-W08-amd64 - Live
Content: ![content](https://user-images.githubusercontent.com/31467235/36812916-618845a8-1cdb-11e8-939f-5b6d00f9fe1c.png)
torrc: http://pastebin.com/raw/cgVd1MBa
torsocks.conf: http://pastebin.com/raw/RwbHC58X

Service tor status:
![service](https://user-images.githubusercontent.com/31467235/36813043-d1e28a7a-1cdb-11e8-9b86-ef1caf39b0f1.png)

[2018-02-28 21:08] antony-jr commented on #3
Where is the configuration file for **instagram-py** ?

[2018-02-28 21:08] noammiz007 commented on #3
oh 1 sec

[2018-02-28 21:09] noammiz007 commented on #3
instapy-config.json: http://pastebin.com/raw/PQjHYt57

[2018-02-28 21:17] antony-jr commented on #3
Could you do the same experiment we did before , Setting your browser proxy to tor and then loading a website ?

[2018-02-28 21:56] noammiz007 commented on #3
![same error](https://user-images.githubusercontent.com/31467235/36815312-019fc0aa-1ce3-11e8-943b-519212ab03a4.png)

[2018-02-28 22:02] antony-jr commented on #3
It seems like your tor server port or ip must be different...

[2018-02-28 22:06] antony-jr commented on #3
Could you post the output of ``` $ nmap 127.0.0.1 ```

[2018-02-28 22:08] noammiz007 commented on #3
![default](https://user-images.githubusercontent.com/31467235/36815838-a26be4f4-1ce4-11e8-9dd0-0d505ec4a193.png)

[2018-02-28 22:10] antony-jr commented on #3
@noammiz007 Did you start the tor server , ``` $ service tor start && service tor status ```

[2018-02-28 22:10] noammiz007 commented on #3
yes

[2018-02-28 22:11] noammiz007 commented on #3
![default](https://user-images.githubusercontent.com/31467235/36815961-1ae2e6d0-1ce5-11e8-9dcc-c4f3f41a7836.png)

[2018-02-28 22:14] antony-jr commented on #3
but it seems that tor never openned any port on our loopback ?? Try restarting the tor server and then wait a bit and then do the nmap. If all fails , Download the tor browser and open it , It will show why we can't get connected to tor ( Could be your ISP ). If there is connectivity in the tor browser then set the tor port and control port in the instagram-py configuration from the settings show

[2018-02-28 22:21] antony-jr commented on #3
@noammiz007 Any progress ?

[2018-02-28 22:21] noammiz007 commented on #3
i downloaded tor browser and the browser is working

[2018-02-28 22:22] antony-jr commented on #3
Perfect , Now do this....

[2018-02-28 22:23] noammiz007 commented on #3
but i had to use another user cuz i always used a root account so now i installed in on another account.

[2018-02-28 22:28] noammiz007 commented on #3
ok its starting to confuse me, can you please connect to my virtual machine or there is any way you can do this for me please? cuz now its saying another thin about tor is not the (something-i forgot) file. the incident is reported

[2018-02-28 22:30] noammiz007 commented on #3
or can i atleast screenshare it for you? please

[2018-02-28 22:43] noammiz007 commented on #3
oh nvm, but now i get the fatal error tor configuration invalid again

[2018-02-28 22:48] noammiz007 commented on #3
![default](https://user-images.githubusercontent.com/31467235/36817584-4ca4f17c-1cea-11e8-8d87-e6bde7aca063.png)

[2018-02-28 22:49] noammiz007 commented on #3
dude, do you have a discord so i can screenshare for you instantly?

[2018-03-01 09:29] noammiz007 commented on #3
are you online now?

[2018-03-01 16:56] antony-jr commented on #3
I'm busy right now , I will try to find the cause for all these errors.. ( But It does work great in my linux os )

[2018-03-01 18:01] antony-jr commented on #3
@noammiz007 The only problem now is that your Tor server never starts... Verify if your tor server has openned a port with this command ``` $ nmap 127.0.0.1 ``` ( This is the loop back address ).

If tor is working good , The output should be something like this...

[code]

The port 9050 with state open for the service **tor-socks** , If you have this output then instagram-py will start working wi

[2018-03-01 18:45] noammiz007 commented on #3
omg its fixed.
![default](https://user-images.githubusercontent.com/31467235/36863089-659139e6-1d91-11e8-92dc-4accc45b6fac.png)
thank you very much for the help!
and i am using the installed version.

[2018-03-01 18:57] antony-jr commented on #3
@noammiz007 That sounds good :heart:  , Care to share what you did to fix this issue , It can help others to fix this issue , if they stumble upon something like yours... :+1:

Thank your for reporting the issue.. Use instagram-py with these args to see how the magic works! ``` $ instagram-py -vvv -c -u noammiz007 -pl small.txt ```.

**PLEASE SEE THAT WITHOUT THE '-c' POSITIONAL ARGUMENT , INSTAGR

[2018-03-01 19:00] noammiz007 commented on #3
i think the problem was really with the tor. i am not really sure how i fixed it. i think the problem has occured because i didnt have the torsocks file. and btw i really like your tool.

[2018-03-01 19:00] #3 closed

[2018-03-09 21:01] Modifero opened #4 "Permission denied: 'var/run/tor/control/authcookie'"
Hello Mr Jr!

i've tried to delete the # before ControlPort
then when i trying to continue:

fatal error:: Tor configuration invalid or server down :: Authentication failed: unable to read '/var/run/tor/control.authcookie' ([Errno 13] Permission denied: '/var/run/tor/control.authcookie')

would you mind to help?

[2018-03-09 21:02] noammiz007 commented on #4
screenshot please?

[2018-03-10 07:54] antony-jr commented on #4
Hey @Modifero ,

Try with **sudo**

[2018-03-13 15:06] andika04kd opened #5 "Tor Configuration invalid or server down"
How to solve?[](https://www.imageupload.co.uk/image/E9j7)

[2018-03-13 15:07] noammiz007 commented on #5
please give more information? for example: a screenshot, full output.

[2018-03-13 15:10] andika04kd commented on #5
https://www.imageupload.co.uk/image/E9j7

[2018-03-13 15:12] noammiz007 commented on #5
did you installed tor?

[2018-03-13 15:13] andika04kd commented on #5
Yes already

[2018-03-13 15:13] noammiz007 commented on #5
and did u enabled it with service tor start?

[2018-03-13 15:14] andika04kd commented on #5
How? Sorry im just new for it

[2018-03-13 15:15] noammiz007 commented on #5
write: service tor start

[2018-03-13 15:18] andika04kd commented on #5
Unknown command tor?
https://www.imageupload.co.uk/image/E9jy

[2018-03-13 15:18] noammiz007 commented on #5
ye i get this too, hold on. i need to get the command for service

[2018-03-13 15:56] noammiz007 commented on #5
@antony-jr how do i run tor service on termux?

[2018-03-13 15:57] noammiz007 commented on #5
@antony-jr and when do the install stuff are being saved at in the phone?

[2018-03-13 15:57] antony-jr commented on #5
@noammiz007 If want to run tor service in termux , it needs a lot of work... But it is possible

[2018-03-13 15:58] noammiz007 commented on #5
@antony-jr
wdu mean? like what do i need to do? i googled it but i couldnt find anything

[2018-03-13 15:59] antony-jr commented on #5
Installation is simple but running it as a service is hard!

[2018-03-13 15:59] antony-jr commented on #5
# To Install Tor
``` $ apt install tor ```

[2018-03-13 15:59] noammiz007 commented on #5
@antony-jr any tutorial?
i already installed tor

[2018-03-13 16:01] antony-jr commented on #5
I think it will take time , look at this issue https://github.com/termux/termux-packages/issues/1965

[2018-03-13 16:01] noammiz007 commented on #5
@antony-jr its ok i have all the time in the world

[2018-03-13 16:02] noammiz007 commented on #5
@antony-jr do i need to download https://www.haproxy.org/ ?

[2018-03-13 16:03] antony-jr commented on #5
no its just an example...

[2018-03-13 16:04] noammiz007 commented on #5
@antony-jr i still dont understand what i need to download

[2018-03-13 16:06] antony-jr commented on #5
It simply implies that we can't do tor in android for now! Therefore we are limited with linux,windows and macosx

[2018-03-13 16:07] noammiz007 commented on #5
@antony-jr ah.

[2018-03-14 06:29] andika04kd commented on #5
Damn,  so this script not working?

[2018-03-14 06:32] noammiz007 commented on #5
Not with termux but on pc

[2018-03-14 12:14] antony-jr commented on #5
@andika04kd The script works on termux but **tor** does not work with termux ( not as a service ). So the issue is with **termux** and not **instagram-py**.

[2018-03-14 15:33] sleazerrrr commented on #2
Hey man I’m having trouble with my path for my wordlist every time I choose it , it says password list not found , it’s currently on my desktop , but in a folder. Currently in root but I switched to my origina login and still got the same thing I’m not sure what I’m doing wrong

[2018-03-14 15:57] antony-jr commented on #2
@sleazerrrr could you cd to desktop and try again ?

[2018-03-15 14:41] sleazerrrr commented on #2
I tried it last night before it went to sleep and it worked fine , woke up this morning and the terminal was closed atuamtically so I thought maybe it just finished , but I checked if any password was logged and nothing and now I’m trying the same thing again and now it’s sayin no password list found . This is what It looks like typed
root@hoest:-/Desktop# sudo instagram-py -u (username) -pl ~/Des

[2018-03-15 14:59] antony-jr commented on #2
@sleazerrrr are you logged in as a normal user ?

[2018-03-15 15:00] antony-jr commented on #2
@sleazerrrr You can also check the cracked users with this command , ``` $ instagram-py -i (username) ```

[2018-03-15 15:08] sleazerrrr commented on #2
I am now currently and tried it again and same thing , I feel like it’s something so simple that I’m missing

[2018-03-15 15:08] sleazerrrr commented on #2
Is there any way I could send you a picture of what it looks like

[2018-03-15 15:09] antony-jr commented on #2
@sleazerrrr please post the output of ``` $ ls ```

[2018-03-15 15:14] antony-jr commented on #2
@sleazerrrr you could send a pic with https://imgur.com

[2018-03-15 15:21] sleazerrrr commented on #2
https://imgur.com/a/mrDfd

[2018-03-15 15:23] antony-jr commented on #2
do you have your **Wordlists** directory on desktop ?

[2018-03-15 15:28] sleazerrrr commented on #2
https://imgur.com/a/Zr8ad
https://imgur.com/a/UJb6S
Yesss sirrr

[2018-03-15 15:29] antony-jr commented on #2
are you logged in as a normal user ?

[2018-03-15 15:31] sleazerrrr commented on #2
Yeah you can see it in the photo I’m signed in as Castiel , gonna restart my computer and see what happens

[2018-03-15 15:32] antony-jr commented on #2
@sleazerrrr Try this command , It should work , ``` $ instagram-py  -u (username) -pl Wordlists/passwordlist.txt ```

[2018-03-15 15:37] antony-jr commented on #2
If you have any doubts , Get in the live chat here , https://discord.gg/Pwe3Uq

[2018-03-15 16:12] antony-jr commented on #5
@andika04kd Closing this issue as this concerns with an issue in **termux** , Reopen if anything goes wrong in a pc , Please wait for the next major release which will have all the feature requested ( Also support for termux ) , **Thank You for your time.**

[2018-03-15 16:12] #5 closed

[2018-03-15 16:14] antony-jr commented on #4
Hey @Modifero , Just verified , adding **sudo** to the command fixed this issue. Reopen this if you run into this issue again! **Thank you for your Time**.

[2018-03-15 16:14] #4 closed

[2018-03-30 17:22] antony-jr opened #6 "Make Instagram-Py more Portable."
As many users report that they can't setup instagram-py with ease ( Such as a case in live boot ).
Thus this issue exists until instagram-py is made self-contained. Possible technologies to use is AppImages.
With AppImages , Users only have to download a single executable and mark it executable and thats it , They can use instagram-py with no setup or installation of any sort , even python is not

[2018-03-31 16:40] noammiz007 opened #8 "Make a website github"
hey @antony-jr
could you make a website github to the instagram-py tool like instapy.github.io like some other tools?
and in the website there will be the links/downloads/informations about the tool?
this is just a suggestion.

[2018-03-31 17:50] antony-jr commented on #8
@noammiz007 There is an on-going work on making this super portable , at the end , all you have to do is to download a single file , execute it and instagram-py will do the magic.

* No more hard **tor and instagram-py configuration** , Unless you install it permanently

**Note:** It will release in a hour or two!

This is how it goes , Download a file from releases and then mark it executable in

[2018-03-31 17:51] antony-jr commented on #8
and in the website there will be the links/downloads/informations about the tool?

@noammiz007 That would be cool , I will take a look a little later. Thank you for your suggestion. :+1:

[2018-03-31 17:54] #6 closed

[2018-03-31 22:22] antony-jr commented on #8
@noammiz007 Now you don't need to go through those deadful installation , Infact you don't even need python and tor server , Everything is self-contained in a single executable ( Only for linux! ) , Go to the main page to know more about **Instagram-Py Portable**!

[2018-03-31 22:46] noammiz007 commented on #8
@antony-jr how do i use the portable in linux?
i execute it as .appimage file?

[2018-03-31 23:02] noammiz007 opened #9 "Cant Execute"
http://prntscr.com/iz3rty the picture says everything

[2018-03-31 23:02] noammiz007 commented on #9
[http://prntscr.com/iz3rty](url)

[2018-03-31 23:03] noammiz007 commented on #9
@antony-jr

[2018-03-31 23:07] noammiz007 commented on #9
data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAtoAAABOCAYAAAAehrFPAAAgAElEQVR4nOydeVwU9f/H1VIOuRZ2Z2cvrgV2V0FUBC9E8cD7yPDGG1ECQdYD8wQ1D9TUlExBSQsrj7Is78yrbxnqepX9PCBLE1FADFMW6PX7Y3c+7LALO4saZevj8XoUM+/93POZ57zn/flMg71798Iqq6yyyiqrrLLKKquser5qIBAIUJv4fD5ceDy48HigKMqqGuTm5obGjRuDz+ebtXVxcUHjxo3RtGnTei83V7m6usLOzg5NmjRB48aNYW9vz6muL1qNGzcG7yUZm8x1xufza70mrbLKKqusssqqf4dqBW0+XwBXV1c4OjlDIBDUO4hYZdXLLI

[2018-03-31 23:11] noammiz007 commented on #9
http://prntscr.com/iz3vki

[2018-03-31 23:12] noammiz007 commented on #9
![default](https://user-images.githubusercontent.com/31467235/38168345-1aac604e-3552-11e8-9cea-5bb56735ae99.png)

[2018-04-01 05:31] pranjal123saxena opened #10 "Can't Execute this version"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

You are surely a genius man! But I can't Execute this it's showing an error.

Error: Error executing 'instagram-py-wrapper' : No Such file or Driectory

[2018-04-01 05:44] pranjal123saxena commented on #10
![img_20180401_111224791](https://user-images.githubusercontent.com/37745131/38170250-a1808596-359d-11e8-92b3-5efd52046b14.jpg)
Tried renaming the file in /use/bin/ to instagram-py-wrapper

[2018-04-01 05:47] pranjal123saxena commented on #10
![img_20180401_111557492](https://user-images.githubusercontent.com/37745131/38170266-284b6758-359e-11e8-9efd-596884a7741f.jpg)
THE ORIGINAL ISSUE..

[2018-04-01 11:27] antony-jr commented on #9
@noammiz007 just wait a bit , I will test this on kali linux

[2018-04-01 11:28] antony-jr commented on #10
@pranjal123saxena just wait a bit , I will test this on kali linux

[2018-04-01 13:12] #10 closed

[2018-04-01 13:22] antony-jr commented on #9
@noammiz007 Everything should work fine now,
Use this [application](https://github.com/antony-jr/AppImageUpdater) to update instagram-py , This helps you download less data on updates!

[2018-04-01 13:22] #9 closed

[2018-04-01 13:24] antony-jr commented on #10
@pranjal123saxena  Everything should work fine now,
Use this [application](https://github.com/antony-jr/AppImageUpdater) to update instagram-py , This helps you download less data on updates!  You can also just download the new version!

[2018-04-01 13:28] noammiz007 commented on #9
![default](https://user-images.githubusercontent.com/31467235/38173599-a553305c-35c9-11e8-9480-4be2315102b1.png)

[2018-04-01 13:28] noammiz007 commented on #9
@antony-jr just updateed and i get this ^

[2018-04-01 13:37] noammiz007 opened #11 "Cant execute (again)"
@antony-jr

**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:*when i execute the instagram-py portable tool so i get an error, something about site: https://user-images.githubusercontent.com/31467235/38173599-a553305c-35c9-11e8-9480-4be2315102b1.png*

**Ways to Reproduce the issue (optional):**

[2018-04-01 13:40] antony-jr commented on #11
Just got this , looking into it!

[2018-04-01 13:40] antony-jr commented on #9
@noammiz007 wait for the next update...

[2018-04-01 14:32] noammiz007 commented on #11
@antony-jr i just updated and another problem:
![default](https://user-images.githubusercontent.com/31467235/38174213-a1368c54-35d2-11e8-8901-acf037074cbf.png)

[2018-04-01 15:14] noammiz007 commented on #9
@antony-jr  i just updated and another problem:

![](https://user-images.githubusercontent.com/31467235/38174213-a1368c54-35d2-11e8-8901-acf037074cbf.png)

[2018-04-01 15:43] pranjal123saxena commented on #10
Nothing's Working Antony :/ @antony-jr

[2018-04-01 15:56] antony-jr commented on #10
@pranjal123saxena please wait...

[2018-04-01 15:57] antony-jr commented on #9
@noammiz007 Just wait...

[2018-04-01 17:49] Mehran opened #12 "twitter"
i'm not sure here right but can create it to make for twitter also ?

[2018-04-01 17:54] antony-jr commented on #12
@Mehran  No problem not here but in a new repo! Lets call it twitter-py

[2018-04-01 18:17] noammiz007 commented on #9
I updated again and now i get the no moudle site thing in output

[2018-04-01 18:52] #11 closed

[2018-04-01 19:02] noammiz007 commented on #11
The problem has been fixed

[2018-04-01 19:20] antony-jr commented on #10
@pranjal123saxena Please update again , This version is confirmed to work!

[2018-04-01 20:07] #12 closed

[2018-04-01 21:05] noammiz007 opened #13 "another problem."
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:** when i start attack i get an error:
![default](https://user-images.githubusercontent.com/31467235/38177397-80801412-3609-11e8-8704-baa790d6bd4e.png)
@antony-jr

**Ways to Reproduce the issue (optional):**

[2018-04-01 21:31] antony-jr commented on #13
don't start any tor server when using portable version. Please try again ?

[2018-04-01 21:34] noammiz007 commented on #13
@antony-jr ok, now i tried without tor service running and still same problem...

[2018-04-01 21:36] antony-jr commented on #13
looking into now , Please wait.

[2018-04-01 21:45] antony-jr commented on #13
@noammiz007 could you post the output of ``` $ ping -c 3 https://google.com ``` ?

[2018-04-01 21:46] noammiz007 commented on #13
![default](https://user-images.githubusercontent.com/31467235/38177832-383c1e2a-360f-11e8-820d-65253b5eb9fc.png)

[2018-04-01 21:46] antony-jr commented on #13
@noammiz007 **without the 'https://'** ?

[2018-04-01 21:47] noammiz007 commented on #13
![default](https://user-images.githubusercontent.com/31467235/38177837-5c3d1e3c-360f-11e8-8eb8-2e4ce6e19d23.png)

[2018-04-01 21:48] antony-jr commented on #13
could you try Instagram-Py again , Everything works fine in my end , I even tested it on a live boot of kali linux... I only get this error when I'm not connected to the internet.

[2018-04-01 21:49] antony-jr commented on #13
Try the normal version too... and check you internet , specifically test this website -> http://httpbin.org/ip

[2018-04-01 21:52] pranjal123saxena commented on #10
How to update it? it keeps on showing the same error "No file or Directory" Can you write me the command to update it? I have downloaded and extracted the file to desktop.

[2018-04-01 21:57] noammiz007 commented on #13
@antony-jr i know the normal version require tor service, and same problem:
![default](https://user-images.githubusercontent.com/31467235/38177893-6819ef4a-3610-11e8-8d29-e127d558fc9f.png)
and when i visit httpbin.org/ip i get my normal ip

[2018-04-01 21:58] noammiz007 commented on #13
@antony-jr do you have discord so i can screenshare you instead of posting picture everytime?

[2018-04-01 22:03] pranjal123saxena commented on #10
oh by update i meant that Appimages application which doesn't seem to work not instagram-py.

[2018-04-01 22:16] antony-jr commented on #10
@pranjal123saxena just repeat the installation process given in readme of the project page... You can also download the AppImage directly and use it.

[2018-04-01 22:20] antony-jr commented on #13
@noammiz007  Here is an invite -> https://discord.gg/JW8qDA

[2018-04-01 22:34] antony-jr commented on #13
As mentioned by @noammiz007 , Incorrect clocks can make Instagram-Py useless... This is because Tor server heavily depends on the system clock in the next update possibly , Instagram-Py will check if the system time is correct , If its in-correct then Instagram-Py will automatically fix it.

[2018-04-01 23:46] pranjal123saxena opened #14 "Completely Confused"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

Step-1 $ sudo wget -O /usr/bin/instagram-py https://git.io/vxKaq; sudo chmod +x /usr/bin/instagram-py
Step-2 ????????

Now what? What do i have to do next? On the release page there is no other step than this and as you have said there's no need to install any tor server or an

[2018-04-01 23:58] antony-jr commented on #14
@pranjal123saxena just do **Step-1** to update... and  just use it.
This is what you have to do to make it work.

[code]

[2018-04-02 02:05] antony-jr commented on #14
@pranjal123saxena Here is a video on the usage of **Instagram-Py Portable** , https://www.youtube.com/watch?v=nNfSyI_Q9SM

[2018-04-02 02:08] pranjal123saxena commented on #14
![img_20180402_073545767](https://user-images.githubusercontent.com/37745131/38180254-cb835ade-3648-11e8-853f-3f68e97b6d91.jpg)

This error

[2018-04-02 02:15] pranjal123saxena commented on #14
That video is not in Kali linux..right? I will try that too..

[2018-04-02 02:20] antony-jr commented on #14
@pranjal123saxena To fix the error that you mentioned in the picture , Please change your clock to correct time , I know its silly but Tor server heavily depends on the systems time...

[2018-04-02 02:21] pranjal123saxena commented on #14
The clock is showing the right time @antony-jr

[2018-04-02 02:22] pranjal123saxena commented on #14
I am from India..does that make any difference? Like time zones or something?

[2018-04-02 02:24] antony-jr commented on #14
**and Make sure you have no tor services runing**.

[2018-04-02 02:28] antony-jr commented on #14
@pranjal123saxena does it work now ?

[2018-04-02 02:32] pranjal123saxena commented on #14
No..no tor services are running..but after setting the clock it asks to restart the system and when I do that in live boot it gets stuck here..
![img_20180402_080111360](https://user-images.githubusercontent.com/37745131/38180678-16df698e-364c-11e8-9f36-c63ce8be0539.jpg)

[2018-04-02 02:35] antony-jr commented on #14
@pranjal123saxena don't restart in a live boot , just change the time and try again.

[2018-04-02 02:41] pranjal123saxena commented on #14
Can't find actual settings for clock..am I doing it correctly?
![img_20180402_080917131](https://user-images.githubusercontent.com/37745131/38180897-52bfda0a-364d-11e8-817e-2e6de7b0d864.jpg)

[2018-04-02 02:42] antony-jr commented on #14
@pranjal123saxena Is everything working ?

[2018-04-02 02:44] pranjal123saxena commented on #14
I have restarted in live boot..I will update after installing Instagram-py again.. I hope this time it will start working..thank you @antony-jr  :)

[2018-04-02 02:56] antony-jr commented on #14
Next time you download Instagram-Py , Copy it to a thumb drive , This way you could just start using instagram-py when you have a live boot!

[2018-04-02 03:47] pranjal123saxena commented on #14
You are genius dude! It's working now!!!
Thank you! Thank you so much @antony-jr  :) :)

[2018-04-02 04:30] antony-jr commented on #14
That sounds good to me.

[2018-04-02 04:30] #14 closed

[2018-04-02 04:35] pranjal123saxena commented on #14
Again..I don't know why..
![img_20180402_100446549](https://user-images.githubusercontent.com/37745131/38183337-51070e9e-365d-11e8-8a36-3bd6a9e12caf.jpg)

[2018-04-02 05:06] antony-jr commented on #14
If you face this error then execute this command ``` $ kill $(pidof tor) ```

[2018-04-02 05:07] antony-jr commented on #14
dont use multiple instances of instagram-py , Instead use instagram-py scripting.

[2018-04-02 06:43] Mehran commented on #12
wow cool waiting for twitter-py

[2018-04-02 10:42] noammiz007 opened #15 "Threads number"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:*how can i change the threads number in order to make the bruteforce very fast?*

**Ways to Reproduce the issue (optional):**

[2018-04-02 10:59] antony-jr commented on #15
I did not implement multithreading , If possible in the near future I will make an option for you to mention number of threads.

[2018-04-02 11:01] noammiz007 commented on #15
@antony-jr for now its just slow and can take a few days even with my gtx 1060. is there anyway to use my resources? like i set how fast it is?

[2018-04-02 11:04] antony-jr commented on #15
@noammiz007 Even if you use multiple threads you won't get the speed you need because it all depends on your internet speed and not your performance.

[2018-04-02 11:09] antony-jr commented on #15
And Also I designed instagram-py very carefully so that it would time perfectly to jump the tor network.
If we use multithreads then it make the process even more complicated and will not improve your performance since **requests are sent through tor and we can only send a single requests at a time because we need to check if we got blocked.**

[2018-04-02 15:00] pranjal123saxena commented on #14
Thanks @antony-jr  it started working again..can you suggest me some good wordlists?? Or can we speed this up? It's taking so much time and with a wordlist containing 10 million passwords, it will take months to check all of them..if I somehow manage to run it for that many months.. :P
Other than this Instagram-py is running smoothly and it's the best tool I have found on the internet! Thank you s

[2018-04-02 16:14] antony-jr commented on #14
@pranjal123saxena If I have time I would make this for facebook too... Use tools like [cupps](https://github.com/Mebus/cupp) to make your custom wordlist just for your victim , Please see that brute force is only efficient if you use the victim's personel information to generate the wordlist ( Use social engineering to get the info out them like how **eliot does in Mr.Robot** [ He always uses brut

[2018-04-02 16:31] ahmetu66 opened #16 "Tor configuration invalid or server down errno 111"
**Select your issue type:** (check at least one)
- [ ] Bug
- [x ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

Hi how do I fix this error with the server?

Thank you!

**Ways to Reproduce the issue (optional):**

[2018-04-02 16:32] noammiz007 commented on #16
Screenshot

[2018-04-02 16:34] noammiz007 commented on #16
Are you using the appimage version?

[2018-04-02 16:35] ahmetu66 commented on #16
No I am using the pip version

[2018-04-02 16:37] noammiz007 commented on #16
I suggest you to get the appimage version. Its all in one pack and you dont need tor

[2018-04-02 16:38] ahmetu66 commented on #16
do you know how to uninstall everything at once so there are no conflicts? I am doing this from a raspberry pi

[2018-04-02 16:39] noammiz007 commented on #16
Well. Just delete the folder

[2018-04-02 16:39] noammiz007 commented on #16
And install the appimage

[2018-04-02 16:39] noammiz007 commented on #16
There wont be conflicts i did it too

[2018-04-02 16:40] ahmetu66 commented on #16
going to try that and comment back on you, thanks!

[2018-04-02 16:42] ahmetu66 commented on #16
should I uninstall tor? I can't find the instagram-py folder

[2018-04-02 16:43] noammiz007 commented on #16
After you download you need to give it permissions with
chmod +x

[2018-04-02 16:46] noammiz007 commented on #16
Ok

[2018-04-02 17:20] ahmetu66 commented on #16
bash: ./Instagram-Py-continuous-x86_64.AppImage: cannot execute binary file: Exec format error

I am getting this error with the download, what can I do?

[2018-04-02 17:23] antony-jr commented on #16
@ahmetu66 Thats because its clear that AppImage's are currently for 64 Bit and not **arm** which raspberry pi uses , you have to use pip to get instagram-py!

[2018-04-02 17:25] antony-jr commented on #16
@ahmetu66 did you install tor server and other stuff mentioned in the installation section. And you need to configure tor and instagram-py , Its given in the README , go through it.

[2018-04-02 17:28] ahmetu66 commented on #16
hi antony!

i've gone through the whole README, but still getting the invalid server error.

you wrote: make sure your tor configuration matched ~/instapy-config.json

how do i check this? When I enter with sudo nano instapy-config.json the file is empy, maybe this is causing the problem?

thanks for the help!

[2018-04-02 17:36] antony-jr commented on #16
@ahmetu66 Install tor server , execute this command in instagram-py ``` $ instagram-py -cc ``` to create the configuration. , Start the tor server , now execute the attack.

The configuration has to be done just once.

[2018-04-02 17:38] antony-jr commented on #16
and for every change you make in the torrc , Restart your tor server.

[2018-04-02 17:43] ahmetu66 commented on #16
I had done all those, tried again and also restart tor server but still not working bro.. still giving the error invalid server

[2018-04-02 17:50] antony-jr commented on #16
@ahmetu66 Okay I will try it in my raspberry pi , Please make sure that you are connected to the internet and check the configuration file located at ~/instapy-config.json

[2018-04-02 17:50] noammiz007 commented on #16
@ahmetu66
Try this:
Step 1: uninstall tor with

Step 2: reinstall tor with

Step 3: remove the "#" in the tor config in the portcontrol
Step 4: fire up terminal and type

Step 5: type "instagram-py -cc"
And inthe ip type 127.0.0.1
In port type 9050
In portcontrol type 9051
And in password dont type anything and then press enter
And then try the tool again

[2018-04-02 17:52] antony-jr commented on #16
@ahmetu66 Also check if you have openned the control port in tor server

[2018-04-02 18:15] ahmetu66 commented on #16
guys thanks, that's working, but getting another error now :

Tor configuration invalid or server down :: Authentication failed: unable to read '/var/run/tor/control.authcookie' ([Errno 13] Permission denied: '/var/run/tor/control.authcookie')

[2018-04-02 18:16] noammiz007 commented on #16
@ahmetu66 type "instagram-py -cc" and do tge steps i said

[2018-04-02 18:17] noammiz007 commented on #16
@ahmetu66 start from step 5

[2018-04-02 18:24] ahmetu66 commented on #16
could it be this?

timedatectl
      Local time: Mon 2018-04-02 18:24:14 UTC
  Universal time: Mon 2018-04-02 18:24:14 UTC
        RTC time: n/a
       Time zone: Etc/UTC (UTC, +0000)
 Network time on: yes
NTP synchronized: yes
 RTC in local TZ: no

my time here is 20:24

how should I set this up right?

[2018-04-02 18:24] antony-jr commented on #16
@ahmetu66 use it with **sudo**.

[2018-04-02 18:27] antony-jr commented on #16
@ahmetu66 When you have permission error , always use **sudo** , your issue is similar to https://github.com/antony-jr/instagram-py/issues/4

[2018-04-02 18:28] ahmetu66 commented on #16
it is working now! thanks guys!!

[2018-04-02 18:29] antony-jr commented on #16
That sounds good!

[2018-04-02 18:29] #16 closed

[2018-04-03 06:34] ahmetu66 opened #17 "Continue script where it stopped"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

Hi, is there a way for the script to recognize where he left with the loaded text document, when say the attack stopped and you don't want to start all over again. Maybe a suggestion if it is possible?

**Ways to Reproduce the issue (optional):**

[2018-04-03 06:51] antony-jr commented on #17
@ahmetu66 There is a feature like this , **Just add '-c' argument to the command to resume the attack if the username was brute forced previously with the same password list**

**Example:**

[code]

[2018-04-03 06:52] antony-jr commented on #17
Take a look at this video -> https://www.youtube.com/watch?v=nNfSyI_Q9SM

[2018-04-03 06:53] antony-jr commented on #17
Or are you refering to some other feature ?

[2018-04-03 06:58] antony-jr commented on #17
**Caution**: If you start the attack again without the **-c** argument the save data will be destroyed. I will add a confirmation to the user in the near future maybe.

[2018-04-03 07:41] ahmetu66 commented on #17
Yes I think I was looking for that. In the night the script had stopped working, Maybe because of my pi, so in the morning I had to start all over with my 10 million pass text document.

Thanks for the help, I Will implement the -c argument if it stops again!

[2018-04-03 07:45] #17 closed

[2018-04-04 14:28] ahmetu66 opened #18 "Script stops automatically"
**Select your issue type:** (check at least one)
- [x ] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

Script stops by itself all the time. I get this error:

Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/socks.py", line 851, in connect
    negotiate(self, dest_addr, dest_port)
  File "/usr/local/lib/python3.5/dist-

[2018-04-04 16:31] ahmetu66 commented on #18
when I close the pc, but I also have other scripts running on the pi who don't stop working. If it was an network interruption, they would stop too?

[2018-04-04 16:37] antony-jr commented on #18
when you close your pc , does it disconnect from the internet? ( a lot pc's do that )

[2018-04-04 17:04] ahmetu66 commented on #18
I am connected to my pi via vnc viewer on my pc. Pi is always on and connected to the internet so that shouldn't be the problem

[2018-04-04 17:24] antony-jr commented on #18
I think this is caused by tor server , At some point it must have disconnected(from tor circuit) ? I will look into this..
For now just restart the tor server and continue your attack , a simple bash script can take care of that....
like this
[code]

[2018-04-04 18:08] antony-jr commented on #18
@ahmetu66 Also I have to reiterate something.... Brute force attacks are one of the basic attacks which is safe and efficient only if the right wordlist is used. If you watched Mr.Robot , Eliot always uses brute force attack for social media's , He first collects the victims information to create a wordlist and uses a brute force tool to execute it. The wordlist generation is the vital part and th

[2018-04-05 01:53] bobbobobbo opened #19 "Errno 111 error."
Still very confused. I've uninstalled and reinstalled tor. I've made sure the port is open. I've made sure the settings are all correct.

I continue to get Errno 111 connection refused. When I ping the address I do not see the port open. Says all ports closed.

I've looked through all the help threads but the two that said they fixed it didn't really offer how..

[2018-04-05 05:40] bobbobobbo commented on #19
Followed this to a T. On two different computers, two different networks.

apt-get install python3-pip #you forgot this in your tutorial
apt-get install python3-setuptools
sudo easy_install3 -U pip
sudo pip3 install requests --upgrade
sudo pip3 install request[socks]
sudo pip3 install stem
sudo pip3 install instagram-py

apt-get install tor
sudo nano /etc/tor/torrc
#found and removed # from contro

[2018-04-05 09:47] antony-jr commented on #19
@bobbobobbo In a live kali linux boot , Try **Instagram-Py Portable** , Here is how you do it -> https://www.youtube.com/watch?v=nNfSyI_Q9SM , **You don't need to configure and install any dependencies** , **Instagram-Py Portable** just works.

**Note** : do not install or run tor when you are using the portable version.

[2018-04-05 10:25] antony-jr opened #20 "Purge Instagram-Py Scripting"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [x] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

When **Instagram-Py 3.x.x** is released , Scripting support will be purged since a brute force tool must not be so complicated than a few commands , multithreading support will be added to make multiple attacks without the scripting... This makes the

[2018-04-05 17:06] bobbobobbo commented on #19
Could not get the portable version to work on fresh boot of Kali. Fired up Ubuntu, worked right away. Very nice.

Though after x amount of tries, I get the same error. After restarting the Ubuntu live install, I can use the portable version again.

[2018-04-05 17:08] bobbobobbo commented on #19
Also, is there a way to increase the total speed? I'm guessing it doesn't depend on GPU power.

[2018-04-05 17:13] antony-jr commented on #19
@bobbobobbo The attack speed is directly propotional to your internet speed. If you don't close the portable version properly(**Press Ctrl+C** to exit it properly) make sure to execute this command before starting it again -> ``` $ sudo kill $(pidof tor) ```

[2018-04-05 17:14] antony-jr commented on #19
Care to explain ?

[2018-04-05 17:25] bobbobobbo commented on #19
I will restart Kali in a bit and show you what I get when trying to do the portable version.
Also the sudo kill line now works in Ubuntu, yet it didn't work in Kali (just gave kill [options])

So I'm back up and running for now. So this depends on internet speed, which makes sense.

[2018-04-05 17:38] antony-jr commented on #19
Most probabily not because it only sends < 1KiB of data per 1 second which isn't a big deal ( Its uses lesser data than your facebook chat box ) , Wait a bit for **Instagram-Py 3.x.x** which will do something for the performance and other little bugs like this. Thank you for reporting the issue. :+1:

[2018-04-05 18:16] bobbobobbo commented on #19
Got it. Thank you. Also while I have you, do you know if there's an easy way to edit a wordlist? The account I'm recovering is based in Thailand so I'm thinking to use a Chinese or Pinyin wordlist. This is one of the only ones I can find.. https://weakpass.com/wordlist/838

I figure maybe if I add the numbers 0-99 to all the entries I can up my odds.

[2018-04-05 19:01] antony-jr commented on #19
@bobbobobbo You can merge two wordlist with a simple script that I wrote now , here it is -> https://gist.github.com/antony-jr/ea0b92ae96df04606a4bf8c4763ea115 ,

[code]

Please note that **Wordlist2** have to have equal or more number of lines than **Wordlist1**.
The idea is to generate a new wordlist with only numbers then merge it with your downloaded wordlist.

[2018-04-05 19:56] bobbobobbo commented on #19
I'm not sure how to run that script. I put it on my desktop and navigated to the correct location to run, yet it claims it can't run. For example, I have a list of 400 Chinese words. Let's say the first word is yin, I'd like to make a list that's yin1 yin2 yin3 yin4 yin5.... up to 99. Then move to the second word and add to the list yang1 yang2 yang3 and so on. Is that possible on your end?

[99.t

[2018-04-05 20:13] bobbobobbo commented on #19
No problem, I'll take a look elsewhere.
2 last questions
1. Can I run multiple instances if I use two different computers? Both trying to crack the same username.
2. I believe Instagram makes you have a minimum of 6 characters for a password (unless that's new?) wouldn't this be a bold addition to your main page, as most wordlists include many under 6 characters, so just a waste of time.

[2018-04-05 21:00] ItsDavehere opened #21 "error"
Traceback (most recent call last):
  File "/usr/local/bin/instagram-py", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 2749, in <module>
    working_set = WorkingSet._build_master()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 444, in _build_master
    ws.require(__requires__)
  File "/usr/lib/pyt

[2018-04-05 21:30] antony-jr commented on #19
Yes you can.

Yes thats true.

[2018-04-05 21:34] antony-jr commented on #21
@ItsDavehere Looks like a dependency error , not on the instagram-py side though. Use the **Instagram-Py Portable** version to use instagram-py without any setup , You don't even need tor and python installed.. Just a single command. Here is how you do it -> https://www.youtube.com/watch?v=nNfSyI_Q9SM

**Note** : Don't start tor server when you are using the portable version , You can use it in a

[2018-04-06 06:01] bobbobobbo commented on #19
I found what it outputs before it throws the Errno issue. Attached.
$ sudo kill $(pidof tor) starts it again, yet sucks that this always happens mid-way.

![1522994331955](https://user-images.githubusercontent.com/38090537/38405527-f9c7d434-3935-11e8-8984-fefe1a4cb49d.jpg)

[2018-04-06 08:06] antony-jr commented on #19
I will look it.... :+1:

[2018-04-06 15:09] noammiz007 opened #22 "cant update"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:*when i am trying to update i get this
![default](https://user-images.githubusercontent.com/31467235/38428940-b40b61be-39c5-11e8-8d44-32b827b6e05a.png)
*

**Ways to Reproduce the issue (optional):**

[2018-04-06 15:16] noammiz007 commented on #22
problem:
whene i start the AppImage updater i get this:

![default](https://user-images.githubusercontent.com/31467235/38429277-9fb1ce96-39c6-11e8-92fc-302771b35538.png)

[2018-04-06 15:29] noammiz007 commented on #22
nvm again clock problem.. fixed

[2018-04-06 15:50] antony-jr commented on #22
@noammiz007 I need to disclose something , **Continuous Integration** is truly a continuous process , Literally , Whenever I make a change (i.e Even if I edit the readme ) a new build is triggered in a remote server , This server builds everything , packs and uploads it to the github releases using my github token. Looks interesting right , **The build logs always gets here ->** https://travis-ci.

[2018-04-06 15:55] noammiz007 commented on #22
ok

[2018-04-06 15:55] #22 closed

[2018-04-07 12:37] nazri07 opened #23 "how to find password list ?"
**Select your issue type:** (check at least one)
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

**Describe your issue:**

**Ways to Reproduce the issue (optional):**

[2018-04-08 21:36] antony-jr commented on #12
@Mehran See this project , The author has a similar tool for instagram too... https://github.com/thelinuxchoice/tweetshell , I guess there is no need for twitter-py

[2018-04-09 16:38] Mehran opened #24 "Error"
**Select your issue type:** (check at least one)
- [x] Bug
- [ ] Question
- [ ] Suggestion
- [ ] Other (please describe):

after about 2 hours it got me this error

`fatal error:: unable to send request to instagram :: SOCKSHTTPSConnectionPool(host='i.instagram.com', port=443): Max retries exceeded with url: /api/v1/accounts/login/ (Caused by NewConnectionError('<urllib3.contrib.socks.SOCKSHTTPSCo

[2018-04-09 19:45] antony-jr commented on #24
@Mehran Are you using the portable version ?

[2018-04-09 19:48] antony-jr commented on #24
@Mehran I think its a error with the tor server , Its been reported a lot users that it throws a error after a period of time. The next version will fix this.

[2018-04-13 18:25] Mehran commented on #12
its not work good i looking something pro like instapy

[2018-04-13 21:34] antony-jr commented on #12
No problem.

[2018-04-18 16:05] DentFuse opened #26 "Using Bridges?"
Hi! So this isn't really a problem but more of an question. I was wondering if it was possible to use bridges with this, cause most the normal IPs are blocked. I tried doing it myself but ended up with error 111 Connection Refused. Can someone assist me please :-)

[2018-04-18 22:39] antony-jr commented on #26
If you configured bridges , Does it work with normal browsing ? **And Please see that , If you are using the portable version , You should not run tor and you can't configure tor(Its automatically configured)**

If you want maximum customization , Install it with **pip**. But I think the portable version also need to enable bridges by default so I will keep this issue live until this is **tested**

[2018-04-19 02:39] DentFuse commented on #26
@antony-jr Thank you for your reply, no I'm not using the portable version. Also today I got to working with bridges but now instagram-py just starts up and does nothing at all.

[2018-04-19 06:49] antony-jr commented on #26
@DentFuse I suppose thats because the network is just stuck with some error , did normal browsing work good ?

[2018-04-19 10:53] DentFuse commented on #26
@antony-jr Actually I'm on command line so I can't check that, but here is my config file [at pastebin.](https://pastebin.com/p4M1Htpq) If that might help. Also when I run Tor it doesn't bootstrap as seen here: [imgur](https://i.imgur.com/5JoHs5a.png) Any idea why it is happening? Also I'm not on a Android emulated Linux environment (As the image might suggest) but instead my Linux server is hoste

[2018-04-19 12:17] antony-jr commented on #26
Install  ``` torsocks ``` and then try the following command to verify if connections through tor is good.
``` $ torsocks curl -L duckduckgo.com ```
If you see **If you see any output then that means your tor connectiion is good**.

[2018-04-19 13:27] YaBoiiie opened #27 "Login issues?"
- [ ] Bug
- [ ] Question
- [ ] Suggestion
- [x] Other (please describe):

When I run the tool I keep getting following messages: "There was a problem with your request." and sometimes "The username you entered doesn't belong to an account." even tho the account exists. I've set everything up properly and it only checks with the same password over and over again.

[2018-04-19 13:39] antony-jr commented on #27
Thats unexpected , Could you send a screenshot ? and **Note that , If you are blocked by instagram , Instagram-Py will not advance until the current password is sure to be wrong so its not checking the same password over and over again its just getting blocked over and over again**.

[2018-04-19 14:31] YaBoiiie commented on #27
![image](https://user-images.githubusercontent.com/38531246/38998094-25a356be-43ef-11e8-90a2-b07572a24098.png)

[2018-04-19 14:32] YaBoiiie commented on #27
You can leave this running for like an hour, still same errors. Probably because the IP's are blocked like mentioned above

[2018-04-19 14:44] DentFuse commented on #26
@antony-jr It results in an error:
[code]

[2018-04-20 00:26] antony-jr commented on #26
Sounds good!

[2018-04-20 12:13] YaBoiiie commented on #27
It looks like it yeah.. Like I said you can leave this running for like an hour and it would still give the same result.

[2018-04-20 13:40] antony-jr commented on #27
Don't worry @YaBoiiie **v3.x.x** will fix this soon, I'm currently experimenting with new methods to do this.

[2018-04-20 13:44] DentFuse commented on #27
That would be great @antony-jr cause 98% of the times I'm just getting a IP blocked error. (100% when not using bridges :stuck_out_tongue_winking_eye:)

[2018-04-20 15:52] antony-jr commented on #27
@YaBoiiie figured out the problem , it's not about IP,  they just banned your account for this mobile API but still working on web side. This is not a bug in Instagram-Py. What account are you trying to crack , Your own ? or a different one ? or a fake ?

Also see that the attack seems to work perfectly on my fake account , try this...

[code]